@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h3>Conheça os seus Representantes</h3>
 
 Aqui é possível conhecer mais sobre o representante que você escolheu, pesquisar informações sobre o mesmo acompanhar o que ele está fazendo por você no momento e 
 ainda adicioná-lo a sua lista de políticos para receber notícias em seu email.
 <br /><br /><br />
 Nome do Político:
@Html.TextBox("txtNomePolitico")